<mat-sidenav-container fullscreen color="primary">
  <mat-sidenav #sidenav mode="over">
    <app-navigation (linkClick)="sidenav.toggle()"></app-navigation>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.toggle()" *ngIf="authService.isLoggedIn()">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="title">PWA Website</span>
      <button class="logout" *ngIf="authService.isLoggedIn()" mat-raised-button color="warn" (click)="logout()">Logout</button>
    </mat-toolbar>
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>